@font-face
{
    font-family: Diablo;
    src: url(avqest.ttf);
}

.diablo-attribute
{
    color: #4169E1;
}

.unique
{
    color : rgb(229, 150, 29);
}
.sorting, label, td, th, a, .page-item, .dataTables_info, span, a.page-link, .sr-only
{
    color : white !important;
}
th.sorting::before, th.sorting::after
{
    color:  red;
    opacity : 1;
}
.required-attribute
{
    color : #eb0d26;
}
.item
{
    margin-top : -6px;
    margin-bottom : -6px;
    background: black;
    text-align: center;
    line-height: 15pt;
    font-family: Diablo;
    font-weight: 100;
    font-size : 18px;

}
.dataTables_length, .dataTables_filter
{
    margin : 15px;
    padding : 0px;
}


#item-filter-view .view {
    background-image: url('../../background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 115vh;
}

thead, .dataTables_length.bs-select
{
    display : none
}

tr:first-child td,
tr:last-child td
{
    border-color: #eb0d26 !important;
}
.page-link,
.page-item
{
    background-color : #eb0d26 !important;
    margin-left : 1.5px;
    margin-right : 1.5px;
    padding : 0px;
    border: 0.05em solid white;
}
.page-link:hover,
.page-item.active,
.page-item.active:hover
{
    background-color : #3b33e1 !important;
    opacity: 1;
}
[aria-label="Previous"],
[aria-label="Next"]
{
    background-color : black !important;

}

.pagination
{
   margin-right : 10px;
}

