.item-category-filter
{
    color : white
}
.item-category-link
{
    display : block;
    margin-top : 15px;
    color : ghostwhite;
}
.item-category-link div:hover
{
    text-decoration: underline;
    cursor: pointer;
}