@font-face
{
    font-family: Diablo;
    src: url(avqest.ttf);
}

.diablo-attribute
{
    color: #6f5df7 !important;
}

.unique
{
    color : #c7b790ed;
}
label, td, th, a, .page-item, .dataTables_info, span, a.page-link, .sr-only
{
    color : white !important;
}
th.sorting::before,
th.sorting::after,
th.sorting_desc::before,
th.sorting_desc::after,
th.sorting_asc::before,
th.sorting_asc::after
{
    color:  red;
    opacity : 1;
}
.required-attribute
{
    color : #ef4f4f;
}
.item
{
    margin-top : -6px;
    margin-bottom : -6px;
    background : rgba(1, 1, 1, 0.8) !important;
    text-align: center;
    line-height: 17.3pt;
    font-family: Diablo;
    font-weight: 100;
    font-size : 18px;

}
.dataTables_length, .dataTables_filter
{
    margin : 15px;
    padding : 0px;
}


#item-filter-view .view {
    background-image: url('../../background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 150vh;
}

.dataTables_length.bs-select, thead:last-child
{
    display : none
}

tr:last-child td,
thead tr th
{
    border-color: #eb0d26 !important;
}
.page-link,
.page-item
{
    background-color : #eb0d26 !important;
    margin-left : 1.5px;
    margin-right : 1.5px;
    padding : 0px;
    border: 0.05em solid white;
}
.page-link:hover,
.page-item.active,
.page-item.active:hover
{
    background-color : #7079de !important;
    opacity: 1;
}
[aria-label="Previous"],
[aria-label="Next"],
tr,
table,
th,
.dataTables_wrapper
{
    background-color : black !important;

}

.pagination
{
   margin-right : 10px;
}

#item-filter-view .gradient {
    background: -moz-linear-gradient(
            45deg,
            rgba(42, 27, 161, 0.7),
            rgba(210, 29, 133, 0.7) 100%
    );
    background: -webkit-linear-gradient(
            90deg,
            rgba(42, 27, 161, 0.7),
            rgba(210, 29, 133, 0.7) 100%
    );
    background: -webkit-gradient(
            linear,
            90deg,
            from(rgba(42, 27, 161, 0.7)),
            to(rgba(210, 29, 133, 0.7))
    );
    background: -o-linear-gradient(
            90deg,
            rgba(42, 27, 161, 0.7),
            rgba(210, 29, 133, 0.7) 100%
    );
    background: linear-gradient(
            90deg,
            rgba(42, 27, 161, 0.3),
            rgba(210, 8, 4, 0.3) 100%
    );
}

.item,
th,
tr,
table,
.dataTables_wrapper
{
    background-color : rgba(1,1 ,1,0) !important;
}

.dataTables_wrapper
{
    background-color : rgba(1,1 ,1,0.8) !important;
}