@font-face
{
    font-family: Diablo;
    src: url(avqest.ttf);
}

.diablo-attribute
{
    color: #4169E1;
}

.unique
{
    color : rgb(229, 150, 29);
}
.sorting, label, td, th, a, .page-item, .dataTables_info, span, a.page-link, .sr-only
{
    color : white !important;
}
th.sorting::before
{
    color:  red;
}
.required-attribute
{
    color : #eb0d26;
}
.item
{
    padding : 10px;
    margin : 10px;
    background: black;
    text-align: center;
    line-height: 16pt;
    font-family: Diablo;
    font-weight: 100;
    font-size : 20px;

}
*:not('.required-attribute')

