#Paket dependency manager
.paket/
paket-files/

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
packages/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

.idea
.idea/workspace.xml

DiabloII.Items/.vs
DiabloII.Items/.vs/DiabloII.Items.Reader/v15
DiabloII.Items/packages

.vs/DiabloII.Items.Reader/v16
.vs/DiabloII.Items.Reader/DesignTimeBuild
.vs/DiabloII.Items.Reader/config/applicationhost.config
