# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
DiabloII.Items/.vs/DiabloII.Items.Reader/v15
DiabloII.Items/packages
node_modules
.idea
.idea/workspace.xml
DiabloII.Items/.vs
.idea
DiabloII.Items/DiabloII.Items/Files/~$Diablo II - Enriched Data Sheet.xlsx
.idea
.idea/workspace.xml
.idea/workspace.xml
