@font-face
{
    font-family: Diablo;
    src: url(avqest.ttf);
}

.diablo-attribute
{
    color: #4169E1;
}

.unique
{
    color : rgb(229, 150, 29);
}
.required-attribute
{
    color : #eb0d26;
}
.item
{
    padding : 10px;
    margin : 10px;
    background: black;
    text-align: center;
    line-height: 16pt;
    font-family: Diablo;
    font-weight: 100;
    font-size : 20px;

}
